@import "./variables";

// --------------Mobile------------------
@mixin tittleMobile {
  font-family: $fontTitle;
  font-size: $sizeHeadline1Mobile;
  font-weight: bold;
}

@mixin subTittleMobile {
  font-family: $fontTitle;
  font-size: $sizeHeadline2Mobile;
  font-weight: bold;
}
@mixin headline3Mobile {
  font-family: $fontTitle;
  font-size: $sizeHeadline3Mobile;
  font-weight: bold;
}

@mixin headline4Mobile {
  font-family: $fontTitle;
  font-size: $sizeHeadline4Mobile;
  font-weight: 500;
}

@mixin BodyTextMobile {
  font-family: $fontSecondary;
  font-size: $sizeBodyMobile;
  font-weight: normal;
}

@mixin BodyTextBoldMobile {
  font-family: $fontSecondary;
  font-size: $sizeBodyMobile;
  font-weight: bold;
}

@mixin ButtonPrimaryMobile {
  background-color: $color-primary;
  border: none;
  color: $color-white;
  padding: 10px 30px;
  text-align: cente;
  display: inline-block;
  border-radius: 25px;
  font-family: $fontSecondary;
  font-size: $sizeButtonTextMobile;
  font-weight: bold;
}

@mixin ButtonSecondaryMobile {
  background-color: $color-white;
  border: 1px solid $color-primary;
  color: $color-primary;
  padding: 10px 30px;
  text-align: cente;
  display: inline-block;
  border-radius: 25px;
  font-family: $fontSecondary;
  font-size: $sizeButtonTextMobile;
  font-weight: bold;
}

@mixin ButtonDisableMobile {
  background-color: rgba($color-text-dark, 0.5);
  border: none;
  color: rgba($color-text-dark, 0.75);
  padding: 10px 30px;
  text-align: cente;
  display: inline-block;
  border-radius: 25px;
  font-family: $fontSecondary;
  font-size: $sizeButtonTextMobile;
  font-weight: bold;
}

@mixin InputActiveMobile {
  background-color: $color-white;
  border: 1px solid rgb($color-text-grey, 0.7);
  color: rgb($color-text-grey, 0.8);
  padding-left: 20px;
  width: 280px;
  height: 50px;
  border-radius: 25px;
  font-family: $fontSecondary;
  font-size: $sizeButtonTextMobile;
}

@mixin InputInactiveMobile {
  background-color: rgb($color-grey, 0.5);
  border: 1px solid rgb($color-text-grey, 0.4);
  color: rgb($color-text-grey, 0.4);
  padding-left: 20px;
  width: 280px;
  height: 50px;
  border-radius: 25px;
  font-family: $fontSecondary;
  font-size: $sizeButtonTextMobile;;
}

@mixin InputErrorMobile {
  background-color: $color-white;
  border: 1px solid $color-danger;
  color: $color-danger;
  padding-left: 20px;
  width: 280px;
  height: 50px;
  border-radius: 25px;
  font-family: $fontSecondary;
  font-size: $sizeButtonTextMobile;
}

// --------------Desktop------------------

@mixin tittleDesktop {
  font-family: $fontTitle;
  font-size: $sizeHeadline1Desktop;
  font-weight: bold;
}

@mixin subTittleDesktop {
  font-family: $fontTitle;
  font-size: $sizeHeadline2Desktop;
  font-weight: bold;
}
@mixin headline3Desktop {
  font-family: $fontTitle;
  font-size: $sizeHeadline3Desktop;
  font-weight: bold;
}

@mixin headline4Desktop {
  font-family: $fontTitle;
  font-size: $sizeHeadline4Desktop;
  font-weight: 500;
}

@mixin BodyTextDesktop {
  font-family: $fontSecondary;
  font-size: $sizeBodyDesktop;
  font-weight: normal;
}

@mixin BodyTextBoldDesktop {
  font-family: $fontSecondary;
  font-size: $sizeBodyDesktop;
  font-weight: bold;
}

@mixin ButtonTextDesktop {
  font-family: $fontSecondary;
  font-size: $sizeButtonTextDesktop;
  font-weight: bold;
}

@mixin ButtonPrimaryDesktop {
  background-color: $color-primary;
  border: none;
  color: $color-white;
  padding: 15px 35px;
  text-align: cente;
  display: inline-block;
  border-radius: 25px;
}

@mixin ButtonSecondaryDesktop {
  background-color: $color-white;
  border: 1px solid $color-primary;
  color: $color-primary;
  padding: 15px 35px;
  text-align: cente;
  display: inline-block;
  border-radius: 25px;
}

@mixin ButtonDisableDesktop {
  background-color: rgba($color-text-dark, 0.5);
  border: none;
  color: rgba($color-text-dark, 0.75);
  padding: 15px 35px;
  text-align: cente;
  display: inline-block;
  border-radius: 25px;
}

@mixin InputActiveDesktop {
  background-color: $color-white;
  border: 1px solid rgb($color-text-grey, 0.7);
  color: rgb($color-text-grey, 0.8);
  padding-left: 20px;
  width: 280px;
  height: 50px;
  border-radius: 25px;
  font-family: $fontSecondary;
  font-size: $sizeButtonTextDesktop;
}

@mixin InputInactiveDesktop {
  background-color: rgb($color-grey, 0.5);
  border: 1px solid rgb($color-text-grey, 0.4);
  color: rgb($color-text-grey, 0.4);
  padding-left: 20px;
  width: 280px;
  height: 50px;
  border-radius: 25px;
  font-family: $fontSecondary;
  font-size: $sizeButtonTextDesktop;
}

@mixin InputErrorDesktop {
  background-color: $color-white;
  border: 1px solid $color-danger;
  color: $color-danger;
  padding-left: 20px;
  width: 280px;
  height: 50px;
  border-radius: 25px;
  font-family: $fontSecondary;
  font-size: $sizeButtonTextDesktop;
}