@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Spartan:wght@500;700&display=swap");

// Colors
$color-light-primary: #e4ebec;
$color-dark-charcoal: #2f2a32;
$color-charcoal-light: #403845;
$color-primary: #286064;
$color-link: #642c28;
$color-secondary: #6da8aa;
$color-charcoal: #37313c;
$color-text-grey: #605866;
$color-text-dark: #aea8b2;
$color-grey: #f1ebf5;
$color-white: #ffffff;
$color-danger: #d8000c;
$color-warning: #9f6000;
$color-success: #4f8a10;
$color-danger-container: #ffd2d2;
$color-warning-container: #feefb3;
$color-success-container: #dff2bf;

// Shadows
$shadow-large-drop: 0px 32px 64px rgba(28, 37, 44, 0.08);
$blur-drop-shadow: blur(15px);

//Radius
$border-radius-size: 30px;

// Size
$base: 0.4rem;

// Size Destktop
$sizeHeadline1Desktop: $base * 8.6;
$sizeHeadline2Desktop: $base * 6.25;
$sizeHeadline3Desktop: $base * 4.7;
$sizeHeadline4Desktop: $base * 3.3;
$sizeButtonTextDesktop: $base * 3.3;
$sizeBodyDesktop: $base * 2.8;
$sizeLogoDesktop: $base * 15;

//Mobile
$sizeHeadline1Mobile: $base * 5.62;
$sizeHeadline2Mobile: $base * 4.06;
$sizeHeadline3Mobile: $base * 2.81;
$sizeHeadline4Mobile: $base * 2.81;
$sizeButtonTextMobile: $base * 2.81;
$sizeBodyMobile: $base * 2.5;
$sizeBodyMobileSmall: $base * 2;
$sizeLogoMobile: $base * 6;

// Font Family
$fontTitle: "Spartan", sans-serif;
$fontSecondary: "Nunito Sans", sans-serif;

// Breakpoints
$breakpoint-sm: 375px;
$breakpoint-md: 414px;
$breakpoint-lg: 768px;
$breakpoint-xl: 1200px;

//Gradients
$vertical-junior-gradient: linear-gradient(180deg, #00292b 0%, #64dce0 134.38%);
$horizontal-junior-gradient: linear-gradient(
  90deg,
  #00292b 0%,
  #64dce0 134.38%
);
$vertical-mid-gradient: linear-gradient(180deg, #64dce0 0%, #193b3d 134.38%);
$horizontal-mid-gradient: linear-gradient(90deg, #00292b 0%, #64dce0 134.38%);
$vertical-senior-gradient: linear-gradient(180deg, #193b3d 0%, #474949 134.38%);
$horizontal-senior-gradient: linear-gradient(
  90deg,
  #193b3d 0%,
  #474949 134.38%
);
$vertical-legendary-gradient: linear-gradient(
  180deg,
  #474949 0%,
  #6da8aa 134.38%
);
$horizontal-legendary-gradient: linear-gradient(
  90deg,
  #474949 0%,
  #6da8aa 134.38%
);
