@import "./_mixins.scss";
@import "./_variables.scss";

.ChooseTechnology {
  &__text {
    text-align: center;
    h2 {
      @include subTittleMobile;
      margin-bottom: 1rem;
    }
    padding-left: 15px;
    p {
      @include BodyTextMobile;
      margin-bottom: 2rem;
    }
  }
  &__btn {
    @include ButtonTextMobile;
    @include ButtonPrimaryMobile;
    display: block !important;
    margin: auto;
    a {
      color: $color-white;
    }
    @media (min-width: $breakpoint-md) {
      @include ButtonTextDesktop;
      @include ButtonPrimaryDesktop;
    }
  }
}
