@import "../styles/mixins";
@import "../styles/variables";

.footer_container {
  background: $color-primary;
  position: absolute;
  width: 1440px;
  height: 79px;
  left: 0px;
  top: 945px;
}
.footer_copy {
  font-family: $fontSecondary;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: $color-white;
  position: absolute;
  height: 22px;
  left: 4.17%;
  right: 4.17%;
  top: 8px;
}
.footer_terms {
  font-family: $fontSecondary;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 25px;
  left: 4.17%;
  right: 4.17%;
  bottom: 16px;
}

/* Media Queries */

/* Mobile */
@media(min-width:1px) and (max-width: 320px) {
  .footer_container {
    width: 360px;
    top: 945px;
  }
}

@media(min-width: 321px) and (max-width: 375px) {
  .footer_container {
    width: 415px;
  }
}

@media(min-width: 376px) and (max-width: 414px) {
  .footer_container {
    width: 454px;
  }
}

/* Tablet */
@media(min-width: 415px) and (max-width: 768px) {
  .footer_container {
    width: 808px;
    top: 1000px
  }
}