@import "../styles/variables";
@import "./mixins";

.footer_container {
  background: $color-primary;
  width: 100%;
  padding: 2rem 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer_copy {
  @include BodyTextBoldMobile;
  font-size: $sizeBodyMobileSmall;
  text-align: center;
  color: $color-white;
}

.footer_terms {
  display: none;
  @include BodyTextMobile;
  font-size: $sizeBodyMobileSmall;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: $breakpoint-md) {
  .footer_copy,
  .footer_terms {
    font-size: $sizeBodyMobile;
  }
}
