@import "./variables";
@import "./mixins";

.main {
    display: flex;
    flex-direction: column;

    .heroImage {
        display: none;
    }
    .heroInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40%;
        .title {
            @include tittleMobile;
            text-transform: uppercase;
        }
        .text {
            @include BodyTextBoldMobile;
            margin-top: 30px;
        }
        .primaryBtn {
            @include ButtonPrimaryMobile;
            margin-top: 20px;
            a {
                color: $color-white;
            }
        }
        .input {
            @include InputActiveDesktop;
        }
    }
}
