@import "./_mixins.scss";
@import "./_variables.scss";

.login {
  &__container {
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 3rem;
    width: fit-content;
    height: fit-content;
    background: radial-gradient(
      86.16% 86.16% at 18.22% 13.84%,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    @media (max-width: $breakpoint-sm) {
      position: relative;
      padding: 2rem 0;
      width: 100%;
      background: none;
    }
  }

  &__h1 {
    @include subTittleMobile;
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
    @media (min-width: $breakpoint-md) {
      @include subTittleDesktop;
    }
  }

  &__group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    label {
      margin-left: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &__input {
    @include InputActiveDesktop;

    @media (max-width: $breakpoint-sm) {
      width: 100%;
      max-width: none;
    }
  }

  &__submit {
    @include ButtonTextDesktop;
    @include ButtonPrimaryDesktop;
    margin-bottom: 1rem;
    width: 100%;

    @media (max-width: $breakpoint-md) {
      @include ButtonTextMobile;
      @include ButtonPrimaryMobile;
    }
  }

  &__divider {
    position: relative;
    text-align: center;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 30px;
      height: 20px;
      background-color: #f2f9fa;
      z-index: -1;
      @media (max-width: $breakpoint-sm) {
        background-color: #e4f2f4;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 100%;
      height: 1px;
      background-color: #000;
      z-index: -2;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }

  &__google {
    @include ButtonTextDesktop;
    @include ButtonPrimaryDesktop;
    margin-right: 1rem;
    background-color: #4285f4;
    color: #fff;
    @media (max-width: $breakpoint-md) {
      @include BodyTextBoldMobile;
      @include ButtonPrimaryMobile;
      margin-right: 0.5rem;
      background-color: #4285f4;
    }
  }

  &__github {
    @include ButtonTextDesktop;
    @include ButtonPrimaryDesktop;
    background-color: #333333;
    color: #fff;
    @media (max-width: $breakpoint-md) {
      @include BodyTextBoldMobile;
      @include ButtonPrimaryMobile;
      background-color: #333333;
    }
  }

  &__signup {
    text-align: center;
  }
}
