@import "../styles/variables";
@import "./_mixins.scss";

.header {
  background: $color-primary;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  &_logout {
    @include ButtonTextDesktop;
    @include ButtonSecondaryDesktop;

    @media (max-width: $breakpoint-md) {
      @include ButtonTextMobile;
      @include ButtonSecondaryMobile;
    }
  }
}

.navbar_brand {
  color: $color-white;
}
