@import "../styles/mixins";
@import "../styles/variables";

.profile_container {
  height: 288px;
}

.profile_header {
  background: linear-gradient(
      0deg,
      rgba(40, 96, 100, 0.8),
      rgba(40, 96, 100, 0.8)
    ),
    url("/images/double-bubble.png");
  height: 115px;
  left: 0;
  position: absolute;
  top: 4.7rem;
  width: 100%;
}

#profile_pic {
  background: $color-secondary;
  border-radius: 50%;
  border: 0px solid $color-white;
  bottom: 50px;
  box-shadow: $shadow-large-drop;
  display: block;
  height: 110px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  position: relative;
  top: 20%;
  width: 110px;
}

.profile_content {
  display: grid;
  height: 173px;
  grid-template-rows: 43px 43px 43px 43px;
  grid-template-columns: 100%;
  position: relative;
  top: 4px;
}

.profile_edit {
  align-items: flex-end;
  display: flex;
  grid-row: 1/2;
  justify-content: center;
}

.profile_name {
  grid-row: 2/3;
  h1 {
    @include subTittleMobile;
    line-height: 120%;
    margin: 10px 0 0 0;
    text-align: center;
  }
}

.profile_sub {
  grid-row: 3/4;
  span {
    @include BodyTextMobile;
    color: $color-text-grey;
    line-height: 120%;
    text-align: center;
  }
  #level {
    display: block;
    text-transform: capitalize;
  }
  #techs {
    display: block;
    text-transform: capitalize;
  }
}

.profile_btn {
  display: flex;
  justify-content: center;
  grid-row: 4/5;
  .start_btn {
    @include ButtonPrimaryMobile;
    @include ButtonTextMobile;
    a {
      color: $color-white;
    }
  }
}

.skills_container {
  margin-top: 10%;
  h1 {
    @include subTittleMobile;
  }
  .modal_btn {
    display: none;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .profile_content {
    display: grid;
    height: 173px;
    grid-template-rows: 43px 60px 60px 60px;
    grid-template-columns: 100%;
    position: relative;
    top: 4px;
  }
  .profile_name {
    h1 {
      @include subTittleDesktop;
    }
  }
  .profile_sub {
    span {
      @include BodyTextDesktop;
      line-height: 150%;
    }
  }
  .profile_btn {
    .start_btn {
      @include ButtonPrimaryDesktop;
      @include ButtonTextDesktop;
    }
  }
  .skills_container {
    h1 {
      @include subTittleDesktop;
    }
    .modal_btn {
      display: flex;
    }
  }
}
