@import "../styles/mixins";
@import "../styles/variables";

.profile_container {
  height: 288px;
}

.profile_header {
  background: linear-gradient(
      0deg,
      rgba(40, 96, 100, 0.8),
      rgba(40, 96, 100, 0.8)
    ),
    url("/images/double-bubble.png");
  height: 115px;
  left: 0;
  position: absolute;
  top: 4.7rem;
  width: 100%;
}

#profile_pic {
  background: $color-secondary;
  border-radius: 50%;
  border: 0px solid $color-white;
  bottom: 50px;
  box-shadow: $shadow-large-drop;
  display: block;
  height: 110px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 20%;
  width: 110px;
}

.profile_content {
  display: grid;
  height: 173px;
  grid-template-rows: 43px 43px 43px 43px;
  grid-template-columns: 100%;
  position: relative;
  top: 4px;
}

.edit_Profile_btn {
  align-items: flex-end;
  display: flex;
  grid-row: 1/2;
  justify-content: center;
}

.profile_name {
  grid-row: 2/3;
  h1 {
    color: #000000;
    font-family: $fontTitle;
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
    margin: 18px 0 0 0;
    text-align: center;
  }
}

.profile_sub {
  grid-row: 3/4;
  span {
    color: rgba(0, 0, 0, 0.5);
    font-family: $fontSecondary;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
  }
  #level {
    display: block;
    top: 84px;
    left: 20px;
  }
  #techs {
    display: block;
  }
}

.profile_btn {
  display: flex;
  justify-content: center;
  grid-row: 4/5;
  .start_btn {
    @include ButtonTextMobile;
    background: $color-primary;
    border: none;
    border-radius: $border-radius-size;
    box-shadow: 0px 14px 23px rgba(28, 37, 44, 0.08);
    color: $color-white;
    font-size: 21px;
    height: 38px;
    width: 168px;
  }
}

.skills_container {
  height: 288px;
  h1 {
    color: #000000;
    font-family: $fontTitle;
    font-weight: bold;
    font-size: 20px;
    left: 15px;
    line-height: 120%;
    margin: 12px 0 0 0;
    position: absolute;
  }
}
