@import "./_mixins.scss";

.questions {
  &__close {
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
  }

  &__header {
    margin-bottom: 4rem;
  }

  &__title {
    margin-bottom: 2rem;
    text-align: center;

    img {
      margin-top: 1rem;
      width: 100%;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
  }

  &__options {
    margin-bottom: 1rem;
  }

  &__btn {
    @include ButtonTextDesktop;
    @include ButtonPrimaryDesktop;

    width: 100%;
  }
}
