@import "./_variables.scss";
@import "./_mixins.scss";

.options {
  &__container {
    position: relative;

    label {
      display: block;

      &:hover {
        .options__radio ~ .options__card {
          box-shadow: $shadow-large-drop;
        }
      }
    }
  }

  &__radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      & ~ .options__card.options__default {
        color: #fff;
        background-color: $color-primary;
      }

      & ~ .options__card.options__glass {
        color: #fff;
        background: radial-gradient(
          100% 1089% at 0% 0%,
          rgba($color-primary, 0.8) 0%,
          rgba($color-primary, 0) 100%
        );
        border: 1px solid rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
      }
    }
  }

  &__withImage {
    padding-right: 116px !important;
  }

  &__card {
    position: relative;
    display: flex;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    color: #000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out;
    -moz-transition: box-shadow 0.3s ease-in-out;
    -ms-transition: box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;

    @media (max-width: $breakpoint-md) {
      padding-right: 1rem;
      margin-bottom: 1.5rem;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      border-radius: 0 20px 20px 0;
      -webkit-border-radius: 0 20px 20px 0;
      -moz-border-radius: 0 20px 20px 0;
      -ms-border-radius: 0 20px 20px 0;
      -o-border-radius: 0 20px 20px 0;

      @media (max-width: $breakpoint-md) {
        top: -1rem;
        right: -1rem;
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        box-shadow: $shadow-large-drop;
      }
    }
  }

  &__glass {
    background: radial-gradient(
      100% 1089% at 0% 0%,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }

  &__default {
    background-color: #fff;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__label {
    @include BodyTextBoldDesktop;
    margin-bottom: 0.5rem;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}
