@import "./_variables.scss";
@import "./_mixins.scss";

.SkillCard {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 0;
  padding: 0 15px 0 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background: radial-gradient(
    100% 1089% at 0% 0%,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -ms-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  &:hover{
    color: #fff;
    background-color: $color-primary;
  }
  &__Wrapper {
    display: flex;
  }
  &__Text {
    @include BodyTextBoldMobile;
    text-transform: capitalize;
    padding-right: 10px;
  }
  &__Icon {
    display: none;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .SkillCard {
    &__Text {
      @include BodyTextBoldDesktop;
    }
  }
}
