@import "./variables";
@import "./mixins";

.modal_bg {
  align-items: center;
  background: rgba(0, 41, 43, 0.8);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  z-index: 2;
  backdrop-filter: blur(2px);
}

.modal_container {
  background: $color-white;
  border-radius: $border-radius-size;
  box-shadow: 0px 14px 23px rgba(28, 37, 44, 0.08);
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
  height: auto;
  max-width: 76%;
  width: 525px;
}

.close_btn {
  align-self: flex-start;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

.modal_header {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $border-radius-size $border-radius-size $border-radius-size 0px;
  display: flex;
  height: 264px;
  justify-content: space-between;
  grid-row: 1/2;
  padding: 20px;
  .tech_btn {
    align-self: flex-end;
    background-color: $color-secondary;
    border: none;
    border-radius: 16px;
    box-shadow: $shadow-large-drop;
    color: $color-white;
    font-family: $fontSecondary;
    font-size: $sizeBodyMobileSmall;
    height: 30px;
    text-transform: uppercase;
    width: 115px;
  }
}

.modal_body {
  grid-row: 2/3;
  margin: 25px 14px;
}

.tech_level_success {
  @include headline4Mobile;
  @include ButtonLevelSuccess;
}

.tech_level_unsuccess {
  @include headline4Mobile;
  @include ButtonLevelUnsuccess;
}
